.formHeader{
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

.formInput{
    width: 60%;
}

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
    cursor: pointer;
}